body{
    background-color: lightgray;
}
.ticTacToe-grid{
    width: 100vw;
    height: 30vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: 100px 100px 100px;
}
.cell{
    width: 100px;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  font-size: 100px;
    font-weight: bold;
  color: gray;
}
.centerC{
    border-left: 3px solid black;
    border-right: 3px solid black;
}
.rightCBorder{
    border-left: 3px solid black;
}
.leftCBorder{
    border-right: 3px solid black;
}
.centerR{
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
.winSect{
    text-align: center;
    color: rgb(16, 55, 86);
    width: 100%;
    padding-top: 50px
}
h1{
    font-size: 30px;
}
h2{
    font-size: 100px;
}
.button{
    text-align: center;
}
button{
    background-color: rgb(115, 143, 243);
}
button:hover{
    background-color: rgb(250, 249, 247);
}
